h1
  | Create a new Record
.row(*ngIf="record")
  .col-sm-12
    p
      | To create a new record, please Add Media Files(pictures, video, sounds). The place will be extracted from your media, if they have, automatically. You can add locations by hand, too.
    .form
      .form-group
        label(for="name")
          | Name for Record: 
        input#name.form-control(type="text", [(ngModel)] = "record.name")
      .form-group
        label(for="media")
          | Add Media:
          button#media((click)="fileInput.click()")
            img(width="25px",src="/assets/icons/cloud-upload.svg")
          input#addmedia(#fileInput, type="file", multiple, (change)="uploadFiles($event)")
      .image-gallery-wrapper
        ul.inline-list.image-gallery(*ngIf="record.media != null")
          .image-gallery-item(*ngFor="let i of record.media", (click)="selectMedia(i)", [class.selected]='i == selectedMedia')
            img.img-responsive([src]="fillUrl(i.url)",[alt]="i.name + i.format")
          
      .row
        .col-md-6
          label
            | Places
          .locations-list(*ngIf="record.media != null")
            ul
              li(*ngFor="let a of record.media", [class.selected]='a == selectedMedia', (click)='selectMedia(a)')
                .legend-item
                  span
                    | Latitude:
                  span(*ngIf="a.location != null")
                    | {{a.location.lat}}
                  span(*ngIf="a.location == null")
                    | Not Set

                  | &nbsp; - &nbsp;
                  span
                    | Longitude:
                  span(*ngIf="a.location != null")
                    | {{a.location.lng}}
                  span(*ngIf="a.location == null")
                    | Not Set
                button.btn((click)="setCurrentLocation(a)")
                  img(src='assets/icons/leaflet-target.png')
        .col-md-6
          map-viewer([mapId]="singleMapId", [media]="record.media", [selected]="selectedMedia", (centerMap)="changeMapCenter($event)")

      .form-group
        label
          | Description
        textarea.form-control([(ngModel)]="record.description")

      .form-group
        .checkbox
          label
            input(type="checkbox", [(ngModel)]="record.published")
            | Publish in Kuntur
      .form-group.row
        .col-sm-4.col-sm-offset-1
          button.btn.btn-block.btn-primary((click)="saveRecord()" type='button')
            | Save
        .col-sm-4.col-sm-offset-2
          button.btn.btn-block.btn-secondary( (click)="discardRecord()" type='button')
            | Discard

